.vscode/settings.json
marks.py
__init__.py
notes_08_07.py
task08_07.py
__pycache__/task08_07.cpython-38.pyc
homework for lesson 9/task3-mymod/__pycache__/mymod.cpython-38.pyc
myfile.txt
homework_for_lesson_15/task3.py
what.py
